* {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url(/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#main {
    text-align: center;
}

.modal-box {
    border-top: 5px solid blue;
    border-left: 5px solid blue;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: rgba(0, 0, 0,.30) 10px 20px 3px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh -10px;
    width: 100vw - 10px;
    margin: 5%;
    text-align: left;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: stretch;
    overflow: hidden;
    background: url(/stripes.png);
    background-attachment: fixed;
    background-size: cover;
}

.image-pos {
    flex: 3 0 0;
    padding-left: 50px;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    margin: 1%;
    background: url(/stripes-light.png);
}

.comments-pos {
    flex: 1 0 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.shown-comments {
    overflow-y: scroll;
    overflow-wrap: break-word;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    margin: -1%;
    background: url(/stripes-light.png);
}

.comment-fields {
    align-self: flex-end;
}

.modal-box h1 {
    color: white;
    right: 10px;
    text-align: right;
    padding-right: 20px;
}

.modal-box img {
    object-fit: contain;
    object-position: center;
    width: 50%;
    height: 50%;
    position: relative;
    top: 0;
}

.container {
    margin: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img-box {
    width: 500px;
    height: 400px;
    border-top: 5px solid blue;
    border-left: 5px solid blue;
    display: inline-block;
    margin: 2%;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: rgba(0, 0, 0,.30) 10px 20px 3px;
    cursor: pointer;
    background: url(/stripes.png);
    background-attachment: fixed;
    background-size: cover;
}

button {
    width: 100px;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    -webkit-box-shadow: rgba(0, 0, 0,.30) 10px 20px 3px;
}

h1 {
    font-size: 100px;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    text-shadow:   0 1px 0 hsl(174,5%,80%),
                   0 2px 0 hsl(174,5%,75%),
                   0 3px 0 hsl(174,5%,70%),
                   0 4px 0 hsl(174,5%,66%),
                   0 5px 0 hsl(174,5%,64%),
                   0 6px 0 hsl(174,5%,62%),
                   0 7px 0 hsl(174,5%,61%),
                   0 8px 0 hsl(174,5%,60%),

                   0 0 5px rgba(0,0,0,.05),
                   0 1px 3px rgba(0,0,0,.2),
                   0 3px 5px rgba(0,0,0,.2),
                   0 5px 10px rgba(0,0,0,.2),
                   0 10px 10px rgba(0,0,0,.2),
                   0 20px 20px rgba(0,0,0,.3);
}

h2 {
    font-size: 40px;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
    align-self: flex-start;
}

h2 span {
    cursor: pointer;
}

img {
    width: 500px;
    height: 320px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

input {
    width: 300px;
    height: 32px;
    margin: 1%;
    font-size: 20px;
    padding: 20px;
    -webkit-box-shadow: rgba(0, 0, 0,.30) 10px 20px 3px;
    border-radius: 10px;
    border-top: 2px solid blue;
    border-left: 2px solid blue;
}

p {
    font-size: 24px;
    color: black;
    word-wrap: break-word;
    padding-top: 25px;
}

.container p {
    background-color: white;
    border-radius: 25px;
    margin: 1%;
    padding-top: 0px;
    padding: 10px;
}

#fileUpload {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    border-top: 2px solid blue;
    border-left: 2px solid blue;
}

.p-title {
    font-size: 40px;
}

.p-author {
    font-size: 14px;
    padding-top: 6px;
}
